.vscode/settings.json
.DS_Store
.env
.ipynb_checkpoints/hog_feature_extaction-checkpoint.ipynb
.ipynb_checkpoints/normalisationAblation-checkpoint.ipynb
__pycache__/projectFunctions.cpython-311.pyc
.ipynb_checkpoints/finalModelTesting-checkpoint.ipynb
